@media (max-width:380px){
  #next{
    position: relative;
    right: 18px;
    max-width: screen;
  }
  #cover{
    overflow-x: hidden;
  }
  #image{
     width: 350px;
     height: 350px;
  }
  #arrow{
    position: relative;
    right: 30px;
  }
  #see{
    position: relative;
    right: 20px;
  } 
  #places{
    width: 367px;
    position: relative;
    right: 45px;
  }
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

